.Popup {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-height: 100vh;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  overflow-y: scroll;
}

.Popup_opened {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: visible;
  opacity: 1;
}

.Popup_buttons {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.Popup_button {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  color: #fff;
  cursor: pointer;
}

.Popup_button-image {
  height: 70%;
  width: auto;
}

pre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Popup > pre > code {
  max-width: 55vw;
  color: #fff;
  font-weight: 400;
  white-space: pre-wrap;
}

.Popup > pre > code > .hljs-tag {
  color: red;
}
