.Popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: max-content;
  min-height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.Popup_opened {
  background-color: rgba(0, 0, 0, 0.7);
  visibility: visible;
  opacity: 1;
}

.Popup_buttons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Popup_button {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  cursor: pointer;
}

.Popup_button-image {
  height: 50%;
  width: auto;
}

.Popup > pre > code > .hljs-tag {
  color: red;
}

.Popup > pre > code {
  color: #fff;
  font-weight: 400;
}
