section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

article {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
label,
p,
th,
select,
option {
  color: var(--font-color);
}

input {
  margin: 0 1em;
}

button {
  cursor: pointer;
  background: linear-gradient(
    155deg,
    var(--gap-color) 35%,
    #fff 40%,
    #fff 65%,
    var(--gap-color) 70%
  );
}

.main_button {
  width: 10%;
  margin: 0 45%;
}
