select {
  margin-right: 1em !important;
}

pre {
  padding: 1vmin;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.897);
}

.hljs {
  color: rgb(182, 75, 168);
  font-weight: 900;
}

.hljs-keyword {
  color: rgb(211, 125, 55);
}

.hljs-operator {
  color: #fff;
}

.hljs-string {
  color: rgb(42, 160, 72);
}

.hljs-number {
  color: rgb(49, 176, 207);
}

.hljs-meta-string {
  color: #999; /* Новый цвет для разделителей */
}
