.Table {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding-top: 8vh;
}

.Table_title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(75%, #fff),
    to(transparent)
  );
  background: -o-linear-gradient(top, #fff 75%, transparent);
  background: linear-gradient(180deg, #fff 75%, transparent);
  font-weight: 700;
}

.Table_title_search {
  position: fixed;
    top: 4.5vh;
    width: 20vw;
    margin-left: 40vw;
    max-height: 3vh;
}

.Table_title_search > input {
  width: 100%;
  margin: auto;
}

.Table_title_search-content {
  position: absolute;
  right: 0;
  margin-right: 0.25em;
  font-weight: 400;
}

table {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 1px solid var(--gap-color);
  border-collapse: collapse;
  overflow: scroll;
}

tbody {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

td {
  position: relative;
  height: 3vh;
  padding: 0.25em;
  border: 1px solid var(--bg-color);
  text-align: center;
  text-transform: capitalize;
  background: -o-linear-gradient(
    280deg,
    var(--gap-color) 20%,
    #fff 25%,
    #fff 75%,
    var(--gap-color) 80%
  );
  background: linear-gradient(
    170deg,
    var(--gap-color) 20%,
    #fff 25%,
    #fff 75%,
    var(--gap-color) 80%
  );
}

.td_tmp {
  color: transparent;
}

.span_tmp {
  position: absolute;
    left: 0;
    width: 100%;
    color: #000;
}

.table_head-cell {
  position: relative;
  width: 100%;
}

.table_head-cell > input {
  width: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 1em;
  margin-left: 0.25em;
  cursor: pointer;
}

.table_search-close {
  position: absolute;
  right: 0;
  top: calc(50% - 0.5em);
}
